@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

:root {
    --fonte0: 'Passion One', cursive;
    --fonte1: 'Sriracha', cursive;
    --fonte2: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    background-color: white;
    min-height: 100vh;
    font-family: var(--fonte2);
    font-size: 1em;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header>h1 {
    font-family: var(--fonte0);
    font-size: 8.5vw;
    font-variant: small-caps;
    padding-top: 50px;
    margin: 0;
}

header>p {
    padding-bottom: 50px;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte1);
    font-size: 3.5vw;
    padding: 10vh 0 10vh 30px;
    line-height: 2em;
}

section>p {
    padding-bottom: 1em;
}

.estrofe {
    background-color: rgba(211, 205, 120, 0.512);
    color: black;
}

#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

.estrofeimg>p {
    background-color: rgba(0, 0, 0, 0.384);
    display: inline-block;
    padding: 5px;
}

.estrofeimg {
    background-color: rgba(0, 0, 0, 0.447);
    color: white;
    background-attachment: fixed;
    background-size: cover;
}

#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: center center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}